
*{
 padding: 0;
 margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  height: 100%;
}
main{
  font-size: clamp(0.1em, 0.3em + 1vw, 0.7em);
  border-bottom: 0.5vh solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}
header{
  height: 25%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer{
  width: 100%;
  background-color: black;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #f16234;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

.card {
  font-size: clamp(0.1em, 0.3em + 1vw, 0.7em);
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
  width: 20%;
  height: auto;


}

.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;


}

.col-4 {
  display: flex;
}

div.main {
  border-bottom: 0.5vh solid white;
  align-content: center;

}

#image
 {
  max-width: 500px;
  width: 50%;
  max-height: 400px;
  height: 60%;
  margin: 20%;
  
}

img.img-fluid,
#logotipo {
  max-width: 500px;
  max-height: 400px;
  width: 50%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

}

.cinza {
  color: #868686;
  margin: 0 0 0.5rem
}
  div.col-md-5{
    margin-top: 5%;
  }
.h4{
  text-align: left;
  font-size: clamp(0.3em, 0.8em + 1.2vw, 1.3em);
  margin-top: 15px;
}
#final{
  text-align: right;
  margin: 0px 70px 20px 70px;
  padding: 10px 5%;
  font-size: clamp(0.1em, 0.5em + 1.5vw, 1em);
}
#final a {
  text-align: center;
}
#title{
  font-size: clamp(1em, 1.5em + 2.5vw, 2em);
  text-align: left;
}
#title2{
  font-size: clamp(0.5em, 1em + 2vw, 1.5em);
  text-align: right;
}
#preco{
  grid-column: 1;
  text-align: left;
  font-size: clamp(1.5em, 1em + 3vw, 2.5em);
}
